<form action="/<%= @all_my_chefs.id%>"  method="post">
  <div class="">
    <div><label>First name:</label></div>
    <div><input type="text" value="<%= @all_my_chefs.first_name%>"  name="first_name" placeholder="Enter new first name"></div>
  </div>

  <div class="">
    <div><label>Last name:</label></div>
    <div><input type="text" value="<%= @all_my_chefs.last_name%>"  name="last_name" placeholder="Enter new last name"></div>
  </div>

  <div class="">
    <div><label>Age:</label></div>
    <div><input type="text" value="<%= @all_my_chefs.age%>"  name="age" placeholder="Enter new age"></div>
  </div>



</form>
